# Tarea 1 Bases de Datos 2021-2 Grupo 7

## Integrantes:
* Benjamin Villouta - 202073007-5 (proceso de congelacion)
* Lucas Bernard - 202073102-0
* Felipe Sandoval - 202073095-4
* Martin Ossandon - 202073062-8 (proceso de integracion al grupo previa autorizacion de profesor)

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- Python 3
- Jupyter
- La librería ipython-sql. Para instalarla pueden hacerlo con pip:
- PostgreSQL y su conector desde Python

**IMPORTANTE:** Este Jupyter Notebook se conectará de forma a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute:

In [2]:
! pip3 install ipython-sql
! pip3 install pygresql
! pip3 install psycopg2-binary
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython-sql) (7.18.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.4.26)
Requirement already satisfied: prettytable<1 in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: pickleshare in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: jedi>=0.10 in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: backcall in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (2.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: colorama in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\flo\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\flo\appdata\roaming\python\python39\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.1)
Requirement already satisfied: wcwidth in c:\users\flo\appdata\roaming\python\python39\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)

WARNING: You are using pip version 21.2.3; however, version 21.3 is available.
You should consider upgrading via the 'C:\Users\FLO\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pygresql in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (5.2.2)

WARNING: You are using pip version 21.2.3; however, version 21.3 is available.
You should consider upgrading via the 'C:\Users\FLO\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: psycopg2-binary in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (2.9.1)

WARNING: You are using pip version 21.2.3; however, version 21.3 is available.
You should consider upgrading via the 'C:\Users\FLO\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: names in c:\users\flo\appdata\local\programs\python\python39\lib\site-packages (0.3.0)

WARNING: You are using pip version 21.2.3; however, version 21.3 is available.
You should consider upgrading via the 'C:\Users\FLO\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import pg
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql+pygresql://admin:pass_segura@localhost:5432/tarea-bd`

In [1]:
%load_ext sql
%env DATABASE_URL=postgresql+pygresql://postgres:5288@localhost:5432/tarea1

env: DATABASE_URL=postgresql+pygresql://postgres:5288@localhost:5432/tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea1',
   password="5288"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000024FE29FCBF0; dsn: 'user=postgres password=xxx dbname=tarea1 host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla Universos

In [25]:
%%sql

Create table universos(
universo VARCHAR(45) PRIMARY KEY,
admin_universo VARCHAR(45) NOT NULL,
evento_nexus TIMESTAMP
);

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla Líneas Temporales

In [26]:
%%sql

Create table lineas_temporales(
linea_temporal int PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
universo varchar(45) NOT NULL,
FOREIGN KEY (universo) references universos(universo)
);

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla Dispositivos Temporales

In [27]:
%%sql

Create table dispositivos_temporales(
id_dispositivo int PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
fecha_fabricacion TIMESTAMP NOT NULL
);

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla Departamentos

In [28]:
%%sql

Create table departamentos(
id_departamento int PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
nombre_departamento varchar(45) NOT NULL
);

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla Historial Misiones

In [29]:
%%sql

Create table historial_misiones(
id_mision int PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
id_departamento int,
fecha TIMESTAMP,
FOREIGN KEY (id_departamento) references departamentos(id_departamento)
);

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
Done.

[]

### Tabla Empleados

In [30]:
%%sql

create table empleados(
id_empleados int PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
nombre varchar(45) NOT NULL,
linea_temporal int NOT NULL,
id_departamento int NOT NULL,
id_dispositivo_temporal int NOT NULL,
cargo_departamento varchar(45),
FOREIGN KEY (linea_temporal) references lineas_temporales(linea_temporal),
FOREIGN KEY (id_departamento) references departamentos(id_departamento),
FOREIGN KEY (id_dispositivo_temporal) references dispositivos_temporales(id_dispositivo)
);

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

In [31]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(1936,2023)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE universos, lineas_temporales, dispositivos_temporales, departamentos, historial_misiones, empleados"
cursor.execute(query)
connection.commit()

print("Generando Datos...")

universos = [
    ('Earth-199999', 'Kang The Conqueror', generate_timestamp()),
    ('Earth-555326', 'Kang Prime', generate_timestamp()),
    ('Earth-3488', 'Immortus', generate_timestamp()),
    ('Earth-616 ', 'Iron Lad', generate_timestamp()),
    ('Earth-90214', 'Scarlet Centurion', generate_timestamp()),
    ('Earth-984', 'Kang-Aroo the Conqueror', generate_timestamp()),
    ('Earth-65', 'Victor Timely', generate_timestamp()),
    ('Earth-8311', 'Buil Kang', generate_timestamp()),
    ('Earth-982', 'King Kang', generate_timestamp()),
    ('Earth-18119', 'Javier Kang', generate_timestamp()),
    ('EarthDia', 'Levi AckerKang', generate_timestamp()),
    ('Earth-NGGYU', 'Rick Astley', generate_timestamp()),
]

# Los IDs se omiten, puesto que los debe generar el mismo DBMS.
departamentos = [
    ('Exploradores',),
    ('Cazadores',),
    ('Detectives',),
    ('Forenses Temporales',),
    ('Guardias',),
]

# Los IDs se omiten, puesto que los debe generar el mismo DBMS.
departamentos = [
    ('Exploradores',),
    ('Cazadores',),
    ('Detectives',),
    ('Forenses Temporales',),
    ('Guardias',),
]

cargos = [
    'Director(a)',
    'Jefe',
    'Sub-Jefe',
    'Secretario(a)',
    'Empleado(a)',
]

n_universos = len(universos)
n_lineas_temporales = 30
n_dispositivos = 150
n_departamentos = len(departamentos)
n_cargos = len(cargos)
n_empleados = 150
n_misiones = 1000

# Los IDs se omiten, puesto que los debe generar el mismo DBMS.
lineas_temporales = [(universos[r.randint(0, n_universos-1)][0],) for _ in range(1, n_lineas_temporales)]

# Los IDs se omiten, puesto que los debe generar el mismo DBMS.
dispositivos = [(generate_timestamp(),) for _ in range(1, n_dispositivos)]

# Los IDs se omiten, puesto que los debe generar el mismo DBMS.
historial_misiones = [(r.randint(1, n_departamentos), generate_timestamp()) for _ in range(1, n_misiones)]

# Los IDs se omiten, puesto que los debe generar el mismo DBMS.
empleados = [(names.get_full_name(), r.randint(1, n_lineas_temporales-1), r.randint(1, n_departamentos), i, cargos[r.randint(0, n_cargos-1)]) for i in range(1, n_empleados)]

print("Insertando Datos...")

insert = [
    "INSERT INTO universos (universo, admin_universo, evento_nexus) VALUES (%s, %s, %s)",
    "INSERT INTO lineas_temporales (universo) VALUES (%s)",
    "INSERT INTO dispositivos_temporales (fecha_fabricacion) VALUES (%s)",
    "INSERT INTO departamentos (nombre_departamento) VALUES (%s)",
    "INSERT INTO historial_misiones (id_departamento, fecha) VALUES (%s, %s)",
    "INSERT INTO empleados (nombre, linea_temporal, id_departamento, id_dispositivo_temporal, cargo_departamento) VALUES (%s, %s, %s, %s, %s)"
]

for universo in universos:
    cursor.execute(insert[0], universo)
    
for linea in lineas_temporales:
    cursor.execute(insert[1], linea)
    
for device in dispositivos:
    cursor.execute(insert[2], device)
    
for dep in departamentos:
    cursor.execute(insert[3], dep)
    
for misiones in historial_misiones:
    cursor.execute(insert[4], misiones)
    
for emp in empleados:
    cursor.execute(insert[5], emp)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Insertando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

### Consulta 1
**Obtenga el nombre de todos los empleados del universo X.**

Ejemplo:

| Nombre       |
|--------------|
| Keanu Reeves |
| Rick Astley  |
| ...          |

**Solución:** _Selecciona el nombre de los empleados desde la tabla empleados y une con un join la tabla lineas temporales 
cuando la linea temporal del empleado sea igual a la de la tabla lineas temporales y donde el 
universo se llame de tal manera._

In [27]:
%%sql

SELECT
    empleados.nombre
FROM
    empleados
JOIN
    lineas_temporales
ON
    empleados.linea_temporal = lineas_temporales.linea_temporal
WHERE
    lineas_temporales.universo = 'Earth-982';

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
10 rows affected.

[('Kari Mccall',),
 ('Michael Wick',),
 ('Scott Ramos',),
 ('Lloyd Crocker',),
 ('Richard Stewart',),
 ('Darrel Pariente',),
 ('Wilfred Andrews',),
 ('Melisa White',),
 ('Tobias Benjamen',),
 ('Juan Woodard',)]

### Consulta 2
**Obtenga la cantidad de líneas temporales por universo ordenadas de mayor a menor cantidad.**

Ejemplo:


| Universo     | Cantidad |
|--------------|----------|
| Earth-555326 |    9     |
| EarthDia     |    7     |
| ...          |   ...    |

**Solución:** _Selecciona el universo y cuantas veces existe desde las lineas temporales y une la tabla con un 
join universo cuando el universo de la linea temporal es igual al universo de universos 
despues agrupa las lineas temporales y las ordena descendentemente._

In [29]:
%%sql
SELECT
    lineas_temporales.universo, count(lineas_temporales.linea_temporal) as cantidad
FROM 
    lineas_temporales
JOIN 
    universos
ON
    lineas_temporales.universo = universos.universo
    
GROUP BY lineas_temporales.universo

ORDER BY cantidad DESC

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
11 rows affected.

[('Earth-3488', 4),
 ('Earth-8311', 4),
 ('Earth-90214', 3),
 ('Earth-984', 3),
 ('Earth-199999', 3),
 ('Earth-NGGYU', 3),
 ('Earth-65', 2),
 ('Earth-555326', 2),
 ('Earth-982', 2),
 ('Earth-616 ', 2),
 ('Earth-18119', 1)]

### Consulta 3
**Nombre del departamento de un empleado X.**

Ejemplo:

| Nombre Departamento     |
|------------------------|
| Forenses Temporales |

**Solución:** _Selecciona el nombre del departamento desde la tabla de deprtamentos y une la tabla de empleados 
con  un join y filta con el nombre del empleado._

In [30]:
%%sql
SELECT
    departamentos.nombre_departamento 
FROM 
    departamentos
JOIN 
    empleados
ON
    empleados.id_departamento = departamentos.id_departamento
WHERE
    empleados.nombre = 'Darrel Pariente'

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[('Forenses Temporales',)]

### Consulta 4
**Obtenga la Línea Temporal con más Empleados.**

Ejemplo:

| Linea Temporal     |
|------------------------|
| 13 |

**Solución:** _Cuenta las lineas temporales desde la tabla de lineas temporales y une la tabla del empleado con 
un join cuando su linea temporal es igual a la de las lineas temporales y ddespues agrupa por las 
lineas temporales, ordena y toma el primer valor
._

In [31]:
%%sql
SELECT
     count(lineas_temporales.linea_temporal) as Linea_Temporal
FROM 
    lineas_temporales
JOIN
    empleados
ON 
    lineas_temporales.linea_temporal = empleados.linea_temporal
GROUP BY lineas_temporales.linea_temporal
ORDER BY lineas_temporales.linea_temporal DESC
LIMIT 1

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[(4,)]

### Consulta 5
**Obtenga todas las misiones del año X de un departamento Y.**

Ejemplo:

|  Id Mision  | Departamento | Fecha |
|--------|-------|---------| 
| 23 |Forenses Temporales | 2021-10-25|
| 35 |Forenses Temporales | 2021-12-6|
| 12 |Forenses Temporales | 2021-1-5|
| ... |... | ...|

**Solución:** _Selecciona la id de la mision el nombre del departamento y la fecha desde el historial de las misiones,
se une la tabla departamentos cuando el id del historial sea igual al id de los departamentos cuando
el departamento sea "X" y este en "A" y "B" fechas
._

In [32]:
%%sql
SELECT
    historial_misiones.id_mision,departamentos.nombre_departamento as Departamento,date(historial_misiones.fecha) as fecha
FROM 
    historial_misiones
JOIN 
    departamentos
ON 
    historial_misiones.id_departamento = departamentos.id_departamento
WHERE
    departamentos.nombre_departamento = 'Forenses Temporales' AND
    historial_misiones.fecha BETWEEN '20210101' AND '20220101';

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
4 rows affected.

[(69, 'Forenses Temporales', datetime.date(2021, 4, 13)),
 (98, 'Forenses Temporales', datetime.date(2021, 10, 26)),
 (814, 'Forenses Temporales', datetime.date(2021, 6, 25)),
 (817, 'Forenses Temporales', datetime.date(2021, 4, 21))]

### Consulta 6
**Obtenga la fecha del evento nexus y nombre del universo de un empleado X.**

Ejemplo

|universo| Evento Nexus     |
|--------|----------------|
|EarthDia |2019-02-09 |

**Solución:** _Selecciona el nombre dle universo y la fecha del evento, despues se une la tabla a lineas temporales cuando el universo de las lienas temporales
iguala al universo, despues se une la tabla empleados cuando el empleado sea participe de esa linea tempora, despues es donde filtramos al 
Empleado "X"._

In [33]:
%%sql
SELECT
    universos.universo,date(universos.evento_nexus) as Evento_nexus
FROM 
    universos
INNER JOIN
    lineas_temporales
ON
    lineas_temporales.universo = universos.universo
INNER JOIN
    empleados
ON
    empleados.linea_temporal = lineas_temporales.linea_temporal
WHERE
    empleados.nombre = 'Darrel Pariente';

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[('Earth-982', datetime.date(2007, 12, 19))]

### Consulta 7
**Obtenemos el top 4 años con más misiones.**

Ejemplo:

|Año | Cantidad     |
|--------|----------------|
|2034 |  12 |
|2021 |  11 |
|2012 |  7 |
|2029 |  4 |

**Solución:** _Escriba aquí la descripción de su solución._

In [17]:
%%sql
SELECT
     EXTRACT(YEAR FROM DATE(fecha))
FROM 
    historial_misiones

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
999 rows affected.

[(1955.0,),
 (2017.0,),
 (1947.0,),
 (1952.0,),
 (1962.0,),
 (1998.0,),
 (1970.0,),
 (1961.0,),
 (1957.0,),
 (1938.0,),
 (2005.0,),
 (2010.0,),
 (1955.0,),
 (2010.0,),
 (1984.0,),
 (2003.0,),
 (1962.0,),
 (1996.0,),
 (1959.0,),
 (1948.0,),
 (1972.0,),
 (1938.0,),
 (1976.0,),
 (1959.0,),
 (1990.0,),
 (1959.0,),
 (1954.0,),
 (1954.0,),
 (1963.0,),
 (1989.0,),
 (2001.0,),
 (1945.0,),
 (2011.0,),
 (2003.0,),
 (2008.0,),
 (1965.0,),
 (1976.0,),
 (1955.0,),
 (1961.0,),
 (1961.0,),
 (1988.0,),
 (1986.0,),
 (1946.0,),
 (1981.0,),
 (1991.0,),
 (2009.0,),
 (2018.0,),
 (1947.0,),
 (1936.0,),
 (2008.0,),
 (1957.0,),
 (1968.0,),
 (1977.0,),
 (2000.0,),
 (1987.0,),
 (1958.0,),
 (1982.0,),
 (1978.0,),
 (1965.0,),
 (2004.0,),
 (1987.0,),
 (1952.0,),
 (1940.0,),
 (1937.0,),
 (2011.0,),
 (1940.0,),
 (1970.0,),
 (1998.0,),
 (2021.0,),
 (2021.0,),
 (2015.0,),
 (1952.0,),
 (1954.0,),
 (1974.0,),
 (1961.0,),
 (1996.0,),
 (1981.0,),
 (1988.0,),
 (1999.0,),
 (1973.0,),
 (1976.0,),
 (1951.0,),
 (2007.0,),
 (1977.0,),
 (1992.0,),
 (2005.0,),
 (1976.0,),
 (1991.0,),
 (2001.0,),
 (1954.0,),
 (1944.0,),
 (1949.0,),
 (1959.0,),
 (1984.0,),
 (2010.0,),
 (1946.0,),
 (1989.0,),
 (2021.0,),
 (1966.0,),
 (2003.0,),
 (1960.0,),
 (1993.0,),
 (1986.0,),
 (2019.0,),
 (1946.0,),
 (2012.0,),
 (1950.0,),
 (1977.0,),
 (1979.0,),
 (1967.0,),
 (1949.0,),
 (2008.0,),
 (1986.0,),
 (1942.0,),
 (1973.0,),
 (1937.0,),
 (1979.0,),
 (2011.0,),
 (1954.0,),
 (1964.0,),
 (2004.0,),
 (1947.0,),
 (2015.0,),
 (2020.0,),
 (1955.0,),
 (1980.0,),
 (1950.0,),
 (1946.0,),
 (1972.0,),
 (2013.0,),
 (1990.0,),
 (2019.0,),
 (1974.0,),
 (2020.0,),
 (1991.0,),
 (2007.0,),
 (2019.0,),
 (1995.0,),
 (2004.0,),
 (1999.0,),
 (1936.0,),
 (1988.0,),
 (1944.0,),
 (1991.0,),
 (1989.0,),
 (1958.0,),
 (2004.0,),
 (2015.0,),
 (1981.0,),
 (2013.0,),
 (1938.0,),
 (1953.0,),
 (1946.0,),
 (2020.0,),
 (2021.0,),
 (2020.0,),
 (1963.0,),
 (1968.0,),
 (2002.0,),
 (1991.0,),
 (1956.0,),
 (2018.0,),
 (1994.0,),
 (1988.0,),
 (1940.0,),
 (2020.0,),
 (1942.0,),
 (1956.0,),
 (1962.0,),
 (1944.0,),
 (1964.0,),
 (2005.0,),
 (2019.0,),
 (1963.0,),
 (1997.0,),
 (2023.0,),
 (2016.0,),
 (1944.0,),
 (2006.0,),
 (2019.0,),
 (2009.0,),
 (1941.0,),
 (2011.0,),
 (1987.0,),
 (1941.0,),
 (2023.0,),
 (1944.0,),
 (1962.0,),
 (1992.0,),
 (1939.0,),
 (1937.0,),
 (1937.0,),
 (1982.0,),
 (1960.0,),
 (2003.0,),
 (1943.0,),
 (2001.0,),
 (2007.0,),
 (2005.0,),
 (1959.0,),
 (1956.0,),
 (1958.0,),
 (2005.0,),
 (2006.0,),
 (1979.0,),
 (1966.0,),
 (1948.0,),
 (1970.0,),
 (2021.0,),
 (1994.0,),
 (1982.0,),
 (1985.0,),
 (2004.0,),
 (1950.0,),
 (1953.0,),
 (1992.0,),
 (1990.0,),
 (2008.0,),
 (1965.0,),
 (2014.0,),
 (1954.0,),
 (1966.0,),
 (1942.0,),
 (1993.0,),
 (2012.0,),
 (1937.0,),
 (1951.0,),
 (1942.0,),
 (1937.0,),
 (1965.0,),
 (1950.0,),
 (1945.0,),
 (1959.0,),
 (1987.0,),
 (2019.0,),
 (2007.0,),
 (1975.0,),
 (1978.0,),
 (1954.0,),
 (1964.0,),
 (2014.0,),
 (1938.0,),
 (1956.0,),
 (2013.0,),
 (1972.0,),
 (1953.0,),
 (2010.0,),
 (1937.0,),
 (1941.0,),
 (2020.0,),
 (1945.0,),
 (1979.0,),
 (2023.0,),
 (1939.0,),
 (1944.0,),
 (1987.0,),
 (1955.0,),
 (1993.0,),
 (1996.0,),
 (1972.0,),
 (1951.0,),
 (1953.0,),
 (1958.0,),
 (1995.0,),
 (1949.0,),
 (1978.0,),
 (1995.0,),
 (1962.0,),
 (1973.0,),
 (2013.0,),
 (1981.0,),
 (1938.0,),
 (1937.0,),
 (1953.0,),
 (1980.0,),
 (1942.0,),
 (1976.0,),
 (1970.0,),
 (2014.0,),
 (2020.0,),
 (2015.0,),
 (2002.0,),
 (1950.0,),
 (1989.0,),
 (1997.0,),
 (2000.0,),
 (1954.0,),
 (1989.0,),
 (1990.0,),
 (1982.0,),
 (1996.0,),
 (2001.0,),
 (2022.0,),
 (1958.0,),
 (1962.0,),
 (2000.0,),
 (1994.0,),
 (1957.0,),
 (1983.0,),
 (2006.0,),
 (1936.0,),
 (2019.0,),
 (1967.0,),
 (1944.0,),
 (2005.0,),
 (1943.0,),
 (1962.0,),
 (1976.0,),
 (1970.0,),
 (2012.0,),
 (1943.0,),
 (1954.0,),
 (1965.0,),
 (2004.0,),
 (2003.0,),
 (2019.0,),
 (1962.0,),
 (1954.0,),
 (1995.0,),
 (1981.0,),
 (1945.0,),
 (1994.0,),
 (2020.0,),
 (1985.0,),
 (1981.0,),
 (2002.0,),
 (1964.0,),
 (2018.0,),
 (1967.0,),
 (1957.0,),
 (1948.0,),
 (2004.0,),
 (1938.0,),
 (1958.0,),
 (1962.0,),
 (1978.0,),
 (1974.0,),
 (1967.0,),
 (2009.0,),
 (1970.0,),
 (1981.0,),
 (1963.0,),
 (2007.0,),
 (1955.0,),
 (1998.0,),
 (2017.0,),
 (1954.0,),
 (1982.0,),
 (1938.0,),
 (1966.0,),
 (1960.0,),
 (1946.0,),
 (1976.0,),
 (2017.0,),
 (1977.0,),
 (2001.0,),
 (1965.0,),
 (2011.0,),
 (2010.0,),
 (1977.0,),
 (2023.0,),
 (2003.0,),
 (2020.0,),
 (2017.0,),
 (2013.0,),
 (1955.0,),
 (2008.0,),
 (1999.0,),
 (1997.0,),
 (1947.0,),
 (1957.0,),
 (1974.0,),
 (1974.0,),
 (1950.0,),
 (1981.0,),
 (1955.0,),
 (1942.0,),
 (1974.0,),
 (2005.0,),
 (2015.0,),
 (1965.0,),
 (1982.0,),
 (1968.0,),
 (1964.0,),
 (1999.0,),
 (2009.0,),
 (2004.0,),
 (1987.0,),
 (1966.0,),
 (2008.0,),
 (2016.0,),
 (1977.0,),
 (1997.0,),
 (1938.0,),
 (2021.0,),
 (2023.0,),
 (2023.0,),
 (1991.0,),
 (2010.0,),
 (2007.0,),
 (2019.0,),
 (2008.0,),
 (1992.0,),
 (1985.0,),
 (1943.0,),
 (1975.0,),
 (1944.0,),
 (1969.0,),
 (1951.0,),
 (1971.0,),
 (2005.0,),
 (2015.0,),
 (1993.0,),
 (1986.0,),
 (1959.0,),
 (1963.0,),
 (1963.0,),
 (1960.0,),
 (1952.0,),
 (1943.0,),
 (2010.0,),
 (1966.0,),
 (1970.0,),
 (1981.0,),
 (1991.0,),
 (1999.0,),
 (1961.0,),
 (1960.0,),
 (1957.0,),
 (1937.0,),
 (1980.0,),
 (2001.0,),
 (1960.0,),
 (1943.0,),
 (1979.0,),
 (2023.0,),
 (1937.0,),
 (1998.0,),
 (1962.0,),
 (1984.0,),
 (2006.0,),
 (1997.0,),
 (2016.0,),
 (2000.0,),
 (1996.0,),
 (2023.0,),
 (1988.0,),
 (2021.0,),
 (2010.0,),
 (1973.0,),
 (1954.0,),
 (1951.0,),
 (1936.0,),
 (1937.0,),
 (1979.0,),
 (1997.0,),
 (1997.0,),
 (1937.0,),
 (2006.0,),
 (1970.0,),
 (1998.0,),
 (2014.0,),
 (1978.0,),
 (1945.0,),
 (1972.0,),
 (1957.0,),
 (1950.0,),
 (1973.0,),
 (2018.0,),
 (2002.0,),
 (1954.0,),
 (1936.0,),
 (2019.0,),
 (2005.0,),
 (1966.0,),
 (1966.0,),
 (1951.0,),
 (1996.0,),
 (1987.0,),
 (1992.0,),
 (1965.0,),
 (1995.0,),
 (2001.0,),
 (1971.0,),
 (1957.0,),
 (1976.0,),
 (1992.0,),
 (1974.0,),
 (2003.0,),
 (1999.0,),
 (1972.0,),
 (1990.0,),
 (1963.0,),
 (2004.0,),
 (1943.0,),
 (1939.0,),
 (1937.0,),
 (2013.0,),
 (1954.0,),
 (1952.0,),
 (2006.0,),
 (1960.0,),
 (1963.0,),
 (1959.0,),
 (2013.0,),
 (1982.0,),
 (1994.0,),
 (1971.0,),
 (1973.0,),
 (1966.0,),
 (1961.0,),
 (1988.0,),
 (1989.0,),
 (2017.0,),
 (1990.0,),
 (1970.0,),
 (2011.0,),
 (1981.0,),
 (2022.0,),
 (1940.0,),
 (1957.0,),
 (1989.0,),
 (2022.0,),
 (1950.0,),
 (2017.0,),
 (1946.0,),
 (2009.0,),
 (1995.0,),
 (1948.0,),
 (1956.0,),
 (1950.0,),
 (1987.0,),
 (1958.0,),
 (2000.0,),
 (1967.0,),
 (1939.0,),
 (1972.0,),
 (2006.0,),
 (1947.0,),
 (1969.0,),
 (2019.0,),
 (1991.0,),
 (2022.0,),
 (1970.0,),
 (1963.0,),
 (2014.0,),
 (2002.0,),
 (2006.0,),
 (1981.0,),
 (1966.0,),
 (1984.0,),
 (1957.0,),
 (2017.0,),
 (1986.0,),
 (2008.0,),
 (1985.0,),
 (1958.0,),
 (1995.0,),
 (1944.0,),
 (1959.0,),
 (2010.0,),
 (2002.0,),
 (1985.0,),
 (1952.0,),
 (1976.0,),
 (2023.0,),
 (1986.0,),
 (2001.0,),
 (2021.0,),
 (1951.0,),
 (1943.0,),
 (1977.0,),
 (1985.0,),
 (2000.0,),
 (1969.0,),
 (1945.0,),
 (2002.0,),
 (2011.0,),
 (2014.0,),
 (2022.0,),
 (1998.0,),
 (1987.0,),
 (1966.0,),
 (1962.0,),
 (1988.0,),
 (2019.0,),
 (1997.0,),
 (1959.0,),
 (1965.0,),
 (1941.0,),
 (1994.0,),
 (1937.0,),
 (1942.0,),
 (1999.0,),
 (1939.0,),
 (1974.0,),
 (2018.0,),
 (1992.0,),
 (2009.0,),
 (1961.0,),
 (1993.0,),
 (1973.0,),
 (1951.0,),
 (1980.0,),
 (1958.0,),
 (1968.0,),
 (2021.0,),
 (1948.0,),
 (1947.0,),
 (2013.0,),
 (1988.0,),
 (1938.0,),
 (1950.0,),
 (1989.0,),
 (2013.0,),
 (2011.0,),
 (1988.0,),
 (1961.0,),
 (1946.0,),
 (1954.0,),
 (2023.0,),
 (1964.0,),
 (1986.0,),
 (1937.0,),
 (1983.0,),
 (1941.0,),
 (1996.0,),
 (2019.0,),
 (2018.0,),
 (2010.0,),
 (2022.0,),
 (1936.0,),
 (2020.0,),
 (2022.0,),
 (1959.0,),
 (1994.0,),
 (1971.0,),
 (1966.0,),
 (1955.0,),
 (1936.0,),
 (1982.0,),
 (1992.0,),
 (1980.0,),
 (1995.0,),
 (2006.0,),
 (2010.0,),
 (1956.0,),
 (2018.0,),
 (1982.0,),
 (2017.0,),
 (1961.0,),
 (1982.0,),
 (1992.0,),
 (2011.0,),
 (1945.0,),
 (1976.0,),
 (1997.0,),
 (1937.0,),
 (1989.0,),
 (1942.0,),
 (1965.0,),
 (1941.0,),
 (1958.0,),
 (1988.0,),
 (1982.0,),
 (1936.0,),
 (1954.0,),
 (2003.0,),
 (1939.0,),
 (1970.0,),
 (1989.0,),
 (1993.0,),
 (1940.0,),
 (2019.0,),
 (1942.0,),
 (1982.0,),
 (1983.0,),
 (1944.0,),
 (1994.0,),
 (1993.0,),
 (1951.0,),
 (1963.0,),
 (2020.0,),
 (1977.0,),
 (1981.0,),
 (1974.0,),
 (1977.0,),
 (1956.0,),
 (1967.0,),
 (1976.0,),
 (1967.0,),
 (1984.0,),
 (2020.0,),
 (1995.0,),
 (1982.0,),
 (2009.0,),
 (1992.0,),
 (2001.0,),
 (1984.0,),
 (1978.0,),
 (2020.0,),
 (1936.0,),
 (1992.0,),
 (1952.0,),
 (1991.0,),
 (1984.0,),
 (2002.0,),
 (2004.0,),
 (1957.0,),
 (1979.0,),
 (1937.0,),
 (1939.0,),
 (1954.0,),
 (1966.0,),
 (1950.0,),
 (1961.0,),
 (1993.0,),
 (1955.0,),
 (1952.0,),
 (1999.0,),
 (1963.0,),
 (1954.0,),
 (1996.0,),
 (2008.0,),
 (1944.0,),
 (1998.0,),
 (1938.0,),
 (1963.0,),
 (1968.0,),
 (1985.0,),
 (1999.0,),
 (2010.0,),
 (1973.0,),
 (1966.0,),
 (1964.0,),
 (2007.0,),
 (1940.0,),
 (1972.0,),
 (1939.0,),
 (2016.0,),
 (1964.0,),
 (2018.0,),
 (1957.0,),
 (1941.0,),
 (1991.0,),
 (1976.0,),
 (1989.0,),
 (1937.0,),
 (2021.0,),
 (1955.0,),
 (2001.0,),
 (2005.0,),
 (2021.0,),
 (1939.0,),
 (1938.0,),
 (1997.0,),
 (2016.0,),
 (1957.0,),
 (1975.0,),
 (2001.0,),
 (1979.0,),
 (2019.0,),
 (1989.0,),
 (1947.0,),
 (1966.0,),
 (1936.0,),
 (1968.0,),
 (1936.0,),
 (1973.0,),
 (1969.0,),
 (1980.0,),
 (1979.0,),
 (1988.0,),
 (1962.0,),
 (1945.0,),
 (1946.0,),
 (1977.0,),
 (2001.0,),
 (1964.0,),
 (1948.0,),
 (2009.0,),
 (1970.0,),
 (1961.0,),
 (1970.0,),
 (1972.0,),
 (2019.0,),
 (1966.0,),
 (1958.0,),
 (1962.0,),
 (1989.0,),
 (1950.0,),
 (2000.0,),
 (2002.0,),
 (1992.0,),
 (2021.0,),
 (2021.0,),
 (1968.0,),
 (2007.0,),
 (1974.0,),
 (2001.0,),
 (1987.0,),
 (1963.0,),
 (1941.0,),
 (1961.0,),
 (1959.0,),
 (2012.0,),
 (1961.0,),
 (1962.0,),
 (1945.0,),
 (2012.0,),
 (2021.0,),
 (1982.0,),
 (2019.0,),
 (2021.0,),
 (2009.0,),
 (1978.0,),
 (2021.0,),
 (1968.0,),
 (2020.0,),
 (2010.0,),
 (2017.0,),
 (2004.0,),
 (1964.0,),
 (1959.0,),
 (1999.0,),
 (1974.0,),
 (2017.0,),
 (1959.0,),
 (1953.0,),
 (1969.0,),
 (1988.0,),
 (2014.0,),
 (2004.0,),
 (1958.0,),
 (1995.0,),
 (1955.0,),
 (1981.0,),
 (2022.0,),
 (1940.0,),
 (1943.0,),
 (1991.0,),
 (1956.0,),
 (2011.0,),
 (1937.0,),
 (1941.0,),
 (2004.0,),
 (1991.0,),
 (1969.0,),
 (1936.0,),
 (1960.0,),
 (1987.0,),
 (1937.0,),
 (2017.0,),
 (2012.0,),
 (1952.0,),
 (1964.0,),
 (1939.0,),
 (1945.0,),
 (1946.0,),
 (1950.0,),
 (2017.0,),
 (2002.0,),
 (1944.0,),
 (1977.0,),
 (1958.0,),
 (1978.0,),
 (2011.0,),
 (1938.0,),
 (1946.0,),
 (1966.0,),
 (1982.0,),
 (1982.0,),
 (1965.0,),
 (2023.0,),
 (2000.0,),
 (1992.0,),
 (1957.0,),
 (1952.0,),
 (2000.0,),
 (2001.0,),
 (1949.0,),
 (1973.0,),
 (1949.0,),
 (1994.0,),
 (2008.0,),
 (1953.0,),
 (2022.0,),
 (1976.0,),
 (2011.0,),
 (1993.0,),
 (2016.0,),
 (1936.0,),
 (2010.0,),
 (1958.0,),
 (1995.0,),
 (1966.0,),
 (1938.0,),
 (2003.0,),
 (2003.0,),
 (1968.0,),
 (2013.0,),
 (2004.0,),
 (1941.0,),
 (1970.0,),
 (1973.0,),
 (1938.0,),
 (2017.0,),
 (1947.0,),
 (1992.0,),
 (1956.0,),
 (2020.0,),
 (1966.0,),
 (1990.0,),
 (1951.0,),
 (1961.0,),
 (2011.0,),
 (2012.0,),
 (2003.0,),
 (1997.0,),
 (2001.0,),
 (1948.0,),
 (2018.0,),
 (1985.0,),
 (1945.0,),
 (2012.0,),
 (2010.0,),
 (1998.0,),
 (1962.0,),
 (1958.0,),
 (1952.0,),
 (2020.0,),
 (2016.0,),
 (1999.0,),
 (1996.0,),
 (1961.0,),
 (2007.0,),
 (2014.0,),
 (1993.0,),
 (1951.0,),
 (1940.0,),
 (2023.0,),
 (1990.0,),
 (1943.0,),
 (1955.0,),
 (1964.0,),
 (2018.0,),
 (1968.0,),
 (1938.0,),
 (1960.0,),
 (1955.0,),
 (2002.0,),
 (1990.0,),
 (1968.0,),
 (1963.0,),
 (2013.0,),
 (2006.0,),
 (2006.0,),
 (1962.0,),
 (1987.0,),
 (1939.0,),
 (1981.0,),
 (2004.0,),
 (1940.0,),
 (1958.0,),
 (1950.0,),
 (2014.0,),
 (1947.0,),
 (1978.0,),
 (2017.0,),
 (1953.0,),
 (1956.0,),
 (1944.0,),
 (1957.0,),
 (1945.0,),
 (1946.0,),
 (1959.0,),
 (1939.0,),
 (1951.0,),
 (1998.0,),
 (1953.0,),
 (1972.0,),
 (2021.0,),
 (1997.0,),
 (2018.0,),
 (2012.0,),
 (1970.0,),
 (1958.0,),
 (1998.0,),
 (2011.0,),
 (1964.0,),
 (2000.0,),
 (1986.0,),
 (1993.0,),
 (1967.0,),
 (1997.0,),
 (1952.0,),
 (1986.0,),
 (1978.0,),
 (1952.0,)]

### Consulta 8
**Obtenga la id y nombre universo con más cantidad de empleados de un departamento X.**

Ejemplo:

|Id |Universo |
|-|-------|
| 12 |Earth-65 |

**Solución:** _Selecciona el id de departamento con las lineas temporales de universo une la tabla lineas temporales cuando
luego se igualan los empleados de linea temporal y linea temporal de lineas temporales. volvemos a unir otra tabla
en este caso seria empleados, entonces si el id de departamentos es igual al id de empleados, 
entonces filtrara por "X" departamento agrupandolo por departamento, ordenandolo descendentemente y trayendo el primero.
._

In [34]:
%%sql
SELECT
    departamentos.id_departamento AS id,lineas_temporales.universo AS Universo
FROM 
    departamentos, empleados
JOIN
    lineas_temporales
ON
    empleados.linea_temporal=lineas_temporales.linea_temporal

WHERE 
    departamentos.id_departamento=empleados.id_departamento
    AND departamentos.nombre_departamento = 'Exploradores'


GROUP BY departamentos.id_departamento,lineas_temporales.universo

ORDER BY COUNT(id_empleados) DESC

LIMIT 1

 * postgresql+pygresql://postgres:***@localhost:5432/tarea1
1 rows affected.

[(1, 'Earth-90214')]

### Consulta 9  (Bonus)
**Obtenga la última misión realizada por el departamento con más Empleados de la linea temporal X.**

Ejemplo:
   
|Id mision |Fecha |Departamento |
|-|--|-----|
| 12 |2025-6-26| Forenses Temporales|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    universos
WHERE
    universos.admin_universo = 'Rick Astley';